@-moz-document domain("www.f5oclock.com") {
#root {
  height: 100%;
}
.trending {
  background-color: #ffd8b2 !important;
}
.hot {
  background-color: #ffbf7f !important;
}
.f5oclock {
  background-color: #ffa64c !important;
}
dt, dd {
  display: inline;
  margin: 3px;
  padding: 3px;
}
.article {
  min-height: 300px;
}
.tldr-image {
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}
.table td, .table th {
  padding: 0.5rem !important;
  vertical-align: top !important;
  border-top: 1px solid #dee2e6 !important;
}
/* dark mode */
.dark tr.f5oclock {
  color: #000;
}
.dark .tldr .f5oclock, .dark .tldr .hot, .dark .tldr .trending {
  color: #000;
}
.dark .tldr {
  color: rgb(180, 180, 180);
}
.dark .article-card {
  background-color: rgb(60, 60, 60);
  color: rgb(180, 180, 180);
}
.dark .article-card .f5oclock {
  color: #ffa64c;
}
.dark .article-card .hot {
  color: #ffbf7f;
}
.dark .article-card .trending{
  color: #ffd8b2;
}
.dark .trending {
  background-color: rgb(80, 80, 80) !important;
}
.dark .hot {
  background-color: rgb(120, 120, 120) !important;
}
.dark .f5oclock {
  background-color: rgb(180, 180, 180) !important;
}
.dark .btn {
  color: rgb(180, 180, 180);
  background-color: transparent;
}
.dark .f5oclock .btn{
  color: #000;
}
.dark tr, .dark tr a {
  color: rgb(180, 180, 180);
}
.dark .f5oclock a {
  color: #ffa64c;
}
.dark .hot a {
  color: #ffbf7f;
}
.dark .trending a {
  color: #ffd8b2;
}
.dark {
  background-color: rgb(40, 40, 40);
}
}
